SUPABASE_URL=https://gimngsgmiwxpozsmhokm.supabase.co
SUPABASE_ANON_KEY=yeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdpbW5nc2dtaXd4cG96c21ob2ttIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg5MDMyODIsImV4cCI6MjA5NDQ3OTI4Mn0.vaLfZo3qxe8J6JQLL_dUr5rhz0wB3G5Jg6fwHK0xlQs
